{% extends 'base.html' %}

{% block title %}Реквизиты{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h1>Реквизиты:</h1>
    <div class="btn-group float-right mb-3">
      <select class="custom-select custom-select-sm" id="sortBySelect">
        <option value="" selected disabled hidden>Сортировать по...</option>
        <option value="full_name">ФИО владельца</option>
        <option value="phone_number">Номер телефона</option>
        <option value="limit">Лимит</option>
      </select>
    </div>
    <input type="text" class="form-control form-control-sm mb-3 w-25 float-right" placeholder="Поиск..." id="searchInput">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Тип</th>
          <th scope="col">Тип карты</th>
          <th scope="col">ФИО владельца</th>
          <th scope="col">Номер телефона</th>
          <th scope="col">Лимит</th>
        </tr>
      </thead>
      <tbody id="requisitesTableBody">
        {% for requisite in requisites %}
          <tr>
            <th scope="row">{{ requisite.id }}</th>
            <td>{{ requisite.type_payment }}</td>
            <td>{{ requisite.card_type }}</td>
            <td>{{ requisite.owner_name }}</td>
            <td>{{ requisite.phone_number }}</td>
            <td>{{ requisite.limit }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}