{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h1>{{ title }}</h1>
    <div class="float-right mb-3">
      <label for="searchInput" class="mr-2">Поиск:</label>
      <input type="text" id="searchInput" class="w-25" onkeyup="searchItems(event)" />
    </div>
    <div class="mb-3 clearfix">
      {% if data[0].keys() %}
        <div class="float-left">
          <label for="sortBySelect" class="mr-2">Сортировать по:</label>
          <select id="sortBySelect" onchange="sortTable(sortBySelectEl.value)">
            {% for key in data[0].keys() %}
                {% if key !='password' %}
                    <option value="{{ key }}" {% if key == 'id' %}selected{% endif %}>{{ key | capitalize }}</option>
                {% endif %}
            {% endfor %}
          </select>
        </div>
      {% endif %}
    </div>
    <table class="table">
      <thead>
        <tr>
          {% for key in data[0].keys() %}
              {% if key != 'password' %}
                <th onclick="sortTable('{{ key }}')">{{ key | capitalize }}</th>
              {% endif %}
          {% endfor %}
        </tr>
      </thead>
      <tbody id="tableBody">
        {% for row in data %}
          <tr>
            {% for key, value in row.items() %}
                 {% if key != 'password' %}
                    <td>{{ value }}</td>
                 {% endif %}
            {% endfor %}
          </tr>
        {% else %}
          <tr><td colspan="{{ data[0].keys()|count }}">Нет данных.</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    var tableBodyEl = document.getElementById('tableBody');
    var searchInputEl = document.getElementById('searchInput');
    var sortBySelectEl = document.getElementById('sortBySelect');
    var defaultSortField = 'id';
    var sortFields = {{ data|tojson }};
    var keys = Object.keys({{ data[0]|tojson }});

    function searchItems(event) {
      if (event && event.keyCode !== 13) {
        return;
      }

      var query = searchInputEl.value.toLowerCase();
      for (var i = 0; i < tableBodyEl.rows.length; ++i) {
        var showRow = false;
        var cells = tableBodyEl.rows[i].cells;
        for (var j = 0; j < cells.length; ++j) {
          if (cells[j].innerText.toLowerCase().includes(query)) {
            showRow = true;
            break;
          }
        }
        tableBodyEl.rows[i].style.display = showRow ? '' : 'none';
      }
    }

    function compareValues(key, dir) {
      return function(a, b) {
        if (!a.hasOwnProperty(key) || !b.hasOwnProperty(key)) {
          return 0;
        }

        var va = typeof a[key] === 'string' ? a[key].toString().toLowerCase() : a[key];
        var vb = typeof b[key] === 'string' ? b[key].toString().toLowerCase() : b[key];

        return dir * ((va < vb) ? -1 : ((va > vb) ? 1 : 0));
      };
    }

    function sortTable(columnName) {
      var direction = 1;
      if (sortBySelectEl && sortBySelectEl.value === columnName) {
        direction = -1;
      }

      var sortedData = sortFields.slice();
      sortedData.sort(compareValues(columnName, direction));
      populateTable(sortedData);
    }

    function populateTable(dataToPopulate) {
      tableBodyEl.innerHTML = '';
      for (const entry of dataToPopulate) {
        addEntryToTable(entry);
      }
    }

    function addEntryToTable(entry) {
      const row = document.createElement('tr');

      for (const [key, value] of Object.entries(entry)) {
        if (key !== 'password') {
          const tdElement = document.createElement('td');
          tdElement.textContent = value;
          row.appendChild(tdElement);
        }
      }

      tableBodyEl.appendChild(row);
    }

    {#window.onload = function() {#}
    {#  searchItems({ keyCode: null });#}
    {#  if (sortBySelectEl) {#}
    {#    sortTable(sortBySelectEl.value);#}
    {#  }#}
    {# };#}



  </script>
{% endblock %}