{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h1>{{ title }}</h1>
    <div class="float-right mb-3">
      <label for="searchInput" class="mr-2">Поиск:</label>
      <input type="text" id="searchInput" class="w-25" onkeyup="searchItems(event)" />
    </div>
    <div class="mb-3 clearfix">
      {% if data[0].keys() %}
          
        <div class="float-left">
          <label for="sortBySelect" class="mr-2">Сортировать по:</label>
          <select id="sortBySelect" onchange="sortRows()">
            {% for key in data[0].keys() %}
                {% if key !='password' %}
                    <option value="{{ key }}" {% if key == 'id' %}selected{% endif %}>{{ key | capitalize }}</option>
                {% endif %}
            {% endfor %}
          </select>
        </div>
          
      {% endif %}
    </div>
    <table class="table">
      <thead>
        <tr class="header-row">
          {% for key in data[0].keys() %}
              {% if key != 'password' %}
                <th data-field="{{ key }}" >{{ key | capitalize }}</th>
              {% endif %}
          {% endfor %}
        </tr>
      </thead>
      <tbody id="tableBody">
        {% for row in data %}
          <tr>
            {% for key, value in row.items() %}
                 {% if key != 'password' %}
                    <td>{{ value }}</td>
                 {% endif %}
            {% endfor %}
          </tr>
        {% else %}
          <tr><td colspan="{{ data[0].keys()|count }}">Нет данных.</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block scripts %}

    <script type="text/javascript" src="static/js/lib/jquery-3.7.1.min.js"></script>

    <script type="text/javascript">
        var tableBodyEl = document.getElementById('tableBody');
        var searchInputEl = document.getElementById('searchInput');
        var sortBySelectEl = document.getElementById('sortBySelect');
        const keys = {{ keys|tojson }}

        function searchItems(event) {
            if (event && event.keyCode !== 13) {
            return;
            }

            var query = searchInputEl.value.toLowerCase();
            for (var i = 0; i < tableBodyEl.rows.length; ++i) {
            var showRow = false;
            var cells = tableBodyEl.rows[i].cells;
            for (var j = 0; j < cells.length; ++j) {
                if (cells[j].innerText.toLowerCase().includes(query)) {
                showRow = true;
                break;
                }
            }
            tableBodyEl.rows[i].style.display = showRow ? '' : 'none';
            }
        }

         function sortRows() {
             var message = {key: sortBySelectEl.value};
             $('#tableBody').empty();
             {#console.log(message);#}
             $.ajax({
                 type: 'POST',
                 url: '{{ url }}', // todo url
                 processData: false,  // tell jQuery not to process the data
                 contentType: false,  // tell jQuery not to set contentType
                 data: JSON.stringify(message),
                 success: (data) => {
                     {#console.log(data);#}
                     for (i in data) {
                         ent = data[i];
                         row = "<tr>";

                         for (k in keys) {
                             row += "<td>" + ent[keys[k]] + "</td>"
                         }
                         $('#tableBody').append(row + "</tr>")
                     }
                 },
                 error: function(error) {
                        console.log(error);
                    }
             });
         }

  </script>

{% endblock %}