{% extends 'base.html' %}

{% block title %}Заявки на оплату{% endblock %}

{% block content %}
  <div class="container mt-5">
    <h1>Заявки на оплату:</h1>
    <div class="btn-group float-right mb-3">
        <form method="post" action="/sort" id="sortBySelect">
            <select class="custom-select custom-select-sm" id="sortBySelector">
              <option value="id" selected>#</option>
              <option value="amount">Сумма</option>
              <option value="requisite_id">ID реквизиты</option>
              <option value="status">Статус</option>
            </select>
        </form>
    </div>
    <label for="searchInput"></label><input type="text" class="form-control form-control-sm mb-3 w-25 float-right" placeholder="Поиск..." id="searchInput"/>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Сумма</th>
          <th scope="col">ID реквизитов</th>
          <th scope="col">Статус</th>
        </tr>
      </thead>
      <tbody>
        {% for invoice in invoices %}
          <tr>
            <th scope="row">{{ invoice.id }}</th>
            <td>{{ invoice.amount }}</td>
{#              добавить отображение информации реквищита#}
            <td>{{ invoice.requisite_id }}</td>
            <td>{{ invoice.status }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}